<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button-outer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,86}}</string>
                <key>sourceSize</key>
                <string>{252,86}</string>
            </dict>
            <key>button_n-inner.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{222,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,56}}</string>
                <key>sourceSize</key>
                <string>{222,56}</string>
            </dict>
            <key>button_s-inner.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,60},{222,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,56}}</string>
                <key>sourceSize</key>
                <string>{222,56}</string>
            </dict>
            <key>restart_n-text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{108,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,21}}</string>
                <key>sourceSize</key>
                <string>{108,21}</string>
            </dict>
            <key>restart_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{252,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,86}}</string>
                <key>sourceSize</key>
                <string>{252,86}</string>
            </dict>
            <key>restart_s-text.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,90},{108,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,21}}</string>
                <key>sourceSize</key>
                <string>{108,21}</string>
            </dict>
            <key>restart_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{252,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,86}}</string>
                <key>sourceSize</key>
                <string>{252,86}</string>
            </dict>
            <key>start_n-text.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,90},{75,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,21}}</string>
                <key>sourceSize</key>
                <string>{75,21}</string>
            </dict>
            <key>start_s-text.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,90},{75,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,21}}</string>
                <key>sourceSize</key>
                <string>{75,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttons.png</string>
            <key>size</key>
            <string>{988,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb71d5431e1096f14f4ce97152559bcb:b56a334d527ea42011bec182514f6d60:45890900fd32b7ad8de5c64a8d953704$</string>
            <key>textureFileName</key>
            <string>buttons.png</string>
        </dict>
    </dict>
</plist>
