<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spaceship0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,120}}</string>
                <key>sourceSize</key>
                <string>{65,120}</string>
            </dict>
            <key>spaceship1.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{65,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,120}}</string>
                <key>sourceSize</key>
                <string>{65,120}</string>
            </dict>
            <key>spaceship2.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{65,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,120}}</string>
                <key>sourceSize</key>
                <string>{65,120}</string>
            </dict>
            <key>spaceship3.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{65,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,120}}</string>
                <key>sourceSize</key>
                <string>{65,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spaceship.png</string>
            <key>size</key>
            <string>{270,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d5296a4c352b62aff48f0d4e87fe9c0:1591b991d92c472ea0456e05094102b6:16c053cac6c0b079277cb14390734fe9$</string>
            <key>textureFileName</key>
            <string>spaceship.png</string>
        </dict>
    </dict>
</plist>
